<div class="form-group">
    <label>Show BoxPlot</label>
    <input type="checkbox" ng-model="vis.params.showBoxPlot" ng-checked="true" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Violin</label>
    <input type="checkbox" ng-model="vis.params.showViolin" ng-checked="true" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>json Labels</label>
    <label>A label for each boxplot. <br /><br />Example : <br/>
<pre style="height:100px;width:320px">
[
  { "text" : "CUENTA" }
]
</pre>
</label>
    <textarea rows="20" ng-model="vis.params.jsonLabels" class="form-control"></textarea>
<div class="form-group">
    <label>Show Percentage</label>
    <input type="checkbox" ng-model="vis.params.showPercentage" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Value</label>
    <input type="checkbox" ng-model="vis.params.showValue" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Line Color</label>
    <input type="text" ng-model="vis.params.lineColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Box Color</label>
    <input type="text" ng-model="vis.params.boxColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Box Width</label>
    <input type="range" ng-model="vis.params.boxWidth" class="form-control" min="10" max="200" step="1">
</div>
<div class="form-group">
    <label>Y Axis Lines Color</label>
    <input type="text" ng-model="vis.params.yAxisLineColor" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Text Color</label>
    <input type="text" ng-model="vis.params.yAxisTextColor" class="ng-pristine ng-valid ng-touched">
</div>

<div class="form-group">
    <label>Y Axis - Infer Domain </label>
    <input type="checkbox" ng-model="vis.params.inferDomain" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Domain (Lower Bound)</label>
    <input type="text" ng-model="vis.params.domainLower" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Y Axis Domain (Upper Bound)</label>
    <input type="text" ng-model="vis.params.domainUpper" class="ng-pristine ng-valid ng-touched">
</div>
